[2015-03-01 06:46] akiran opened #1 "Splitting tags with more than three attributes into multiple lines"
Can we have a options to transform this
[code]
into
[code]

[2015-03-01 21:16] royriojas commented on #1
I was actually wanting to make this also. I'm currently just passing the jsx elements directly to the js-beautify html beautifier, and that one puts everything in a line. It might be simple to do using fresh-falafel, my only concern is that maintaining the alignment, but let's see if it can be done.

[2015-03-02 00:54] #1 closed

[2015-03-02 01:55] akiran commented on #1
@royriojas Thanks for prompt response. I will test it in my project.

[2015-03-02 05:27] royriojas commented on #1
You're welcome!

Use the latest version, the previous one had some unpredictable behavior. Check the unit tests to have a better idea of how it works.

[2015-04-18 11:09] 0x80 opened #2 "Support for ES6 import/export"
I am trying to use this with Babel js files but this results in "Illegal export declaration" and "Illegal import declaration" errors.

I don't know about the other ES6 syntax

[2015-04-18 11:12] 0x80 commented on #2
Just realized this is probably an issue with esformatter.

[2015-04-18 11:15] #2 closed

[2015-06-28 15:21] ipselon opened #3 "Line 31: Unexpected token <"
var React = require('react');
var ReactBootstrap = require('../../assets/js/react-bootstrap.min.js');
var Input = ReactBootstrap.Input;
var Button = ReactBootstrap.Button;

var ProxyInput = React.createClass({

    getInitialState: function(){
        return {
            urlValue: this.props.urlValue
        }
    },

    _handleClearUrlValue: function(e){
        e.stopPropagation();
        e.p

[2015-06-28 19:00] royriojas commented on #3
Hi @ipselon, can you try your code here?

http://requirebin.com/embed?gist=0d67452e01754269660f

If you paste your code you will see it is formatted properly can you post your configuration for esformatter and the version of esformatter you are using?

Regards

[2015-06-28 20:53] pixelass commented on #3
I got the same problem using it with https://github.com/ionutvmi/sublime-jsfmt in Sublime Text 3

Steps to reproduce

1. install https://github.com/ionutvmi/sublime-jsfmt in sublime
2. add esformatter-jsx in the user-config of that package
3. add jsx to supported formats in the user-config of that package
4. `npm install esformatter-jsx` in sublime-jsfmt root-folder
5. format a .jsx file with poin

[2015-06-28 21:35] royriojas commented on #3
@pixelass check your version of esformatter (do `npm ls esformatter`) in the folder of sublime-jsfmt root, if it is less that 0.7.0 then you might want to install esformatter-jsx@1.0.9 doing `npm i esformatter-jsx@1.0.9`

Basically the issue is that esformatter lesser than 0.7.0 won't understand jsx, and it required the old trick of replacing the jsx constructs to make it pass thru the parser. esf

[2015-06-28 21:56] pixelass commented on #3
@royriojas it tells me there is no version 1.0.9

I tried 1.0.8 but the formatting is just overly wrong

## example:
#### first `let` starts one level too deep
[code]

[2015-06-28 21:57] pixelass commented on #3
btw... jsfmt uses "esformatter": "^0.5.1"

[2015-06-28 22:06] royriojas commented on #3
try upgrading esformatter to 0.7.0 in the jsfmt folder

Also do you see the same behavior here?

http://requirebin.com/embed?gist=0d67452e01754269660f

Paste you code above and see if you can see the same issue you're mentioning

[2015-06-28 22:09] royriojas commented on #3
O so I just test this:

[code]
And get this

[code]
So basically if you want to format es6 code, I suggest try upgrading to `esformatter@0.7.0` can you verify this working on the test page?

[2015-06-28 22:12] ipselon commented on #3
@royriojas thanks a lot.
version 0.7.1 of esformatter + version 1.3.0 of esformatter-jsx work perfectly.

Could you provide options for beautifier in case when there is JSX tag inside of attribute of another JSX tag ?

See example of __Button__ in __buttonAfter__ attribute below:

Before:
[code]
After
[code]

[2015-06-28 22:15] pixelass commented on #3
I updated to esformatter 0.7.1 with esformatter.jsx 1.0.3

now it's working fine..
There are other issues.. but not related to this topic.

[2015-06-28 22:21] royriojas commented on #3
@ipselon I have faced that issue before, so far is a known bug, and the only solution for now is to extract that block to its own variable. Can you file that under a different bug? I might get some time to try that today.

[2015-06-28 22:23] ipselon opened #4 "JSX tag inside of attribute of another JSX tag"
Could you provide options for beautifier in case when there is JSX tag inside of attribute of another JSX tag ?

See example of __Button__ in __buttonAfter__ attribute below:

Before:
[code]
After
[code]

[2015-06-28 22:23] ipselon commented on #3
Thanks.

[2015-06-28 22:23] #3 closed

[2015-06-28 22:24] royriojas commented on #3
@pixelass thanks for your help to debug this issue. So basically `esformatter@0.7.1` and `esformatter-jsx@1.3.0` is what is recommended if you want to beautify code with ES6 syntax

[2015-06-28 22:34] pixelass opened #5 "formatting classes splits at dot '.'"
Running esformatter-jsx will split `Foo.bar` into `Foo . bar`

### Input
[code]

### Result
[code]

### Expected
[code]

[2015-06-28 22:46] royriojas commented on #5
I'm not familiar with the es6 syntax for classes yet, can this be a valid workaround?

[code]

[2015-06-28 22:47] royriojas commented on #5
It seems the issue happens even without using the `esformatter-jsx` plugin. Will investigate a bit more but it seems to be an issue in `esformatter` instead.

[2015-06-28 23:37] pixelass commented on #5
kk thx. will look at  it a little more

[2015-07-06 22:20] mikestead commented on #5
@pixelass Did you get any further with this?

[2015-07-07 20:05] kevinsimper opened #6 "Formatting guidelines"
I was wondering if it is possible to format the code with `esformatter-jsx` like they do on the React website?

https://facebook.github.io/react/docs/tutorial.html

Here they format code with `return ()`, where the end parenthese is at the same level as the return statement.

I am sorry if i missed in the readme, if it exist, then i can provide a pull request to show an example.

[2015-07-07 20:15] royriojas commented on #6
Not sure exactly what you mean with that, can you please provide an example of the formatting that does not follow those guidelines?

Using the online tool
http://requirebin.com/embed?gist=0d67452e01754269660f

I can check that almost all the examples are formatted correctly. I do find an instance where it fail, and I will try to fix that over the weekend

Can you please elaborate a bit more?

[2015-07-08 08:19] kevinsimper commented on #6
For example this code:
https://facebook.github.io/react/tips/communicate-between-components.html
[code]

But is formatted like this on the requirebin

[code]

[2015-07-08 20:10] royriojas commented on #6
I see, it is valid point, will work on make the formatter to try to respect the formatting of the React code block examples.

In the meantime, I guess that the workaround in the Readme could help:
https://github.com/royriojas/esformatter-jsx#nested-jsx-elements-and-ternary-operators

[code]

[2015-07-09 14:06] kevinsimper commented on #6
Could be really cool if it could format it like the examples! :+1:

I kind of dislike the workaround since you have to have one long return statement with a semicolon.

[2015-07-11 07:00] otrizna opened #7 "Documentation on installation"
It would be helpful to mention in the documentation where the module should be installed. I can imagine a situation when the user not familiar with NodeJs would copy and paste the command in an arbitrary directory.

[2015-07-11 07:22] royriojas commented on #7
True, Any suggestions about how to improve the installation steps are welcome.

[2015-07-14 13:35] kevinsimper commented on #6
@royriojas Can you provide a small hint, if I wanted to help with this?

[2015-07-14 16:10] royriojas commented on #6
Sure, there are 2 things we should do

- see if we can use rocambole to parse the code instead of the parser we're using now
- Identify the node type of the inline JSX javascript structure.
- decide if we want to treat them as regular javascript. If not we should prevent them from being formatted by `esformatter`
- finally decide how to format those stuctures, maybe using esformatter again, but on

[2015-07-17 10:18] 0x80 opened #8 "Wrong indentation with ES6"
[code]

turns into

[code]

See also https://github.com/millermedeiros/esformatter/issues/337

[2015-07-17 10:20] 0x80 commented on #5
see https://github.com/millermedeiros/esformatter/issues/337

[2015-07-17 12:07] royriojas commented on #8
Hi, it is working fine for me. I tried it here: http://requirebin.com/embed?gist=0d67452e01754269660f

this input
[code]

generates this output

[code]

Can you provide the version of esformatter, esformatter-jsx and a copy of your esformatter config? that might help to debug this issue

[2015-07-17 13:15] 0x80 commented on #8
I'm not using esformatter directly but through standard-format.

I just did another test with both installed

esformatter.............[0.7.1]
esformatter-jsx.........[1.3.0]
standard-format.........[1.4.0]

```standard-format es6class.js``` and ```esformatter es6class.js``` both give me the same output. I am not using any config file. I understood from the docs that esformatter loads its plugins a

[2015-07-17 17:28] royriojas commented on #8
well it seems the configuration that standard format uses is the one that is failing. I will close this bug. Have you reported that to them?

[2015-07-17 17:28] #8 closed

[2015-07-17 18:37] 0x80 commented on #8
Thanks for your help. I will report it to standard-format then

[2015-07-26 13:51] spencermountain opened #9 "html in variables"
hi Roy, thanks for making this great plugin.
I doubt it's best practice, but I sometimes do this:
[code]
which gets botched by the formatter.
all the best,

[2015-07-26 21:42] royriojas commented on #9
hi @spencermountain, yes I'm aware of that issue as well, it does bother me a lot. I will try to spend some time to try to close the bugs related to the usage of jsx blocks. keep tuned :)

[2015-07-27 22:57] #4 closed

[2015-07-27 22:57] #9 closed

[2015-07-28 05:15] royriojas commented on #6
@kevinsimper I have been trying really hard to fix this, and it has been really hard, the more I think about it the more I realize the only way I have right now to fix this, without making this excessive complex it is to actually to offer a way to not format the code inside the `JSXExpressionContainer` but even in this case, there are lot of corner cases that will be really hard to take into consi

[2015-07-28 10:35] royriojas commented on #5
Hi guys, I'm going to close this issue. It is clearly not an issue with `esformatter-jsx`.

[2015-07-28 10:35] #5 closed

[2015-07-28 10:45] royriojas commented on #4
hi @ipselon,

I guess this is the closer I can get to something similar to what you mention

http://goo.gl/DrxmwP

[2015-07-28 10:47] royriojas commented on #9
hi @spencermountain check http://goo.gl/51kUEv I guess this should be fine now

[2015-07-28 11:40] ipselon commented on #4
Exactly what I need, thank you. Next release of my react-ui-builder will be with new formatter.

[2015-07-28 15:42] spencermountain commented on #9
nice! thanks

[2015-07-29 00:26] royriojas opened #10 "Keep selfclosing tag character in the same line as the last attribute"
It seems that because the formatter has a max size set, the formatter will sometimes put the end of the selfclosing tag to the next line which is incorrect

Check:

http://goo.gl/5ba8Hm

**Input:**

[code]

**Result**

[code]

**Expected**

[code]

[2015-07-29 00:37] royriojas commented on #10
closed on v2.0.4

[2015-07-29 00:37] #10 closed

[2015-08-03 16:57] millermedeiros commented on #5
esformatter v0.7.3 should fix this

[2015-08-04 10:23] vvo opened #11 "How to avoid spacing after braces?"
I cannot find a configuration use esformatter-jsx where I do not have spacing around braces.

how to?

[2015-08-04 10:24] vvo commented on #6
It would be really awesome to be able to autoformat JSX using the react style. I like it too, very readable

[2015-08-04 16:41] royriojas commented on #11
Hi @vvo currently there is no such option, however adding it won't be that complicated.

But just to clarify

what you're looking is for an option for transforming

[code]

to

[code]

right?

[2015-08-04 20:55] vvo commented on #11
Yes that's it, I do not want spaces after or before braces

[2015-08-05 07:58] #11 closed

[2015-08-05 08:22] royriojas commented on #11
hi @vvo check: the option added is `spaceInJSXExpressionContainers` (check the config)

http://goo.gl/DiY08J

[2015-08-05 08:39] vvo commented on #11
awesome @royriojas :clap: :)

[2015-08-05 17:30] spencermountain opened #12 "inline attribute length"
hey man, got one more maybe:
it seems if the inline attributes are over a certain number of characters, it breaks the closing tag into a new line

this one breaks:
```<MyElement a={ 1 } b={1} c={ 1 } d={ 1 } e={ 1 } abcdefghijklmnop={ i }/>```

this one doesnt:
```<MyElement a={ 1 } b={1} c={ 1 } d={ 1 } e={ 1 } abc={ i }/>```

http://goo.gl/Ubjzk6
cheers

[2015-08-05 18:10] royriojas commented on #12
hi @spencermountain try increasing the  `wrap_line_length` option maybe the default I set is too conservative.

click config and check the options in the jsx section

http://goo.gl/pJPp7H

[2015-08-05 18:13] spencermountain commented on #12
ah! perfect. thanks man

[2015-08-05 18:13] #12 closed

[2015-08-06 10:31] ipselon opened #13 "Unexpected token ILLEGAL"
I got following error in online-demo and locally (using esformatter 0.7.3, esformatter-jsx 2.0.6):

    //==> Error: Line 19: Unexpected token ILLEGAL

Is there something wrong in code ?

[code]

[2015-08-06 16:48] royriojas commented on #13
Mm, It seems that there are some issues with the way the container expressions are treated the following code works for me:

http://goo.gl/uaDGvo

But that make me realize there might be a bug lurking in the shadows when someone uses single quotes (which is valid) for the attributes. I will provide a fix ASAP

[2015-08-06 16:56] ipselon commented on #13
Thanks for quick response.

[2015-08-06 17:39] royriojas commented on #13
So I found the issue, somehow ```"$"``` is ok but ```'$'``` is not. It is like it has an special meaning inside the replace method of string, and messes everything. I also found a second bug, that makes the formatter to fail if one of the attributes also contain JSX and is the last attribute. If there are more attributes it will format that correctly, just letting you know about that for now.

[2015-08-06 17:57] ipselon commented on #13
Great, your tool is important for me, so I appreciate your attitude.

[2015-08-07 00:41] royriojas commented on #13
Got it! hope it helps!

http://goo.gl/mWjTfD

[2015-08-07 00:47] #13 closed

[2015-08-07 06:41] royriojas opened #14 "Correctly format code inside JSXExpressionContainers"
JSXExpression containers can contain sometimes some valid javascript code. When using the formatter this code is left as is, which sometimes produce very unpredictable results

For example

[code]

produces

[code]

[2015-08-07 06:58] #14 closed

[2015-08-07 11:56] ipselon commented on #13
Thanks, it works.

[2015-08-07 21:20] kushal opened #15 "Cannot read property 'formatJSX' of undefined in Sublime Text 2"
Probably user error, but I'm not sure how to get past this. Thanks!

TypeError: Cannot read property 'formatJSX' of undefined
    at Object.module.exports.stringBefore (/Users/kushal/Library/Application Support/Sublime Text 2/Packages/jsfmt/node_modules/esformatter-jsx/lib/plugin.js:43:24)
    at /Users/kushal/Library/Application Support/Sublime Text 2/Packages/jsfmt/node_modules/jsfmt/node_module

[2015-08-07 21:23] royriojas commented on #15
can you provide the version of `esformatter` and `esformatter-jsx` you are using?

[2015-08-07 22:07] royriojas commented on #15
It might be that you need to specify the `jsx` section in your `esformatter.json`, check the parameters in the readme

[2015-08-08 00:54] kushal commented on #15
esformatter-jsx@.0.10

esformatter@0.7.3

I'm having a hard time sorting out where esformatter.json would even go in
the context of Sublime/jsfmt? I do have a jsx: {} section in
jsfmt.sublime-settings

Thanks!

On Fri, Aug 7, 2015 at 3:07 PM Roy Riojas <notifications@github.com> wrote:

[2015-08-08 01:22] royriojas commented on #15
I'm not familiar with Sublime Text 2, but for the 3 you can do:

[code]

[2015-08-08 01:31] royriojas commented on #15
Oh I just realize you're using an old version of the plugin, the latest one is `esformatter-jsx@2.0.10`

[2015-08-10 15:12] kushal commented on #15
Got it, thank you!

[2015-08-10 15:12] #15 closed

[2015-08-12 06:57] ipselon opened #16 "Unexpected token :"
esformatter verision: 0.7.3, esformatter-jsx version: 2.0.10

[code]

[2015-08-12 07:06] royriojas commented on #16
Interesting...

In the meantime, here is a workaround, just in case

[code]

[2015-08-12 08:07] royriojas commented on #16
Fixed in v2.0.11.

ObjectExpression and ArrayExpression are forced to be in a single line inside the JSXExpressionContainer.

While this works well for small objects, it might not be practical for big ones.

Regards

[2015-08-12 08:07] #16 closed

[2015-08-13 17:43] kushal opened #17 "Function inside of attribute causes misformatting of children"
If I try to format this block http://cl.ly/image/2w0H3I2P3I1I a space is always inserted before the {am} causing an error since the parent node can only have one child node.

The formatting is correct if the attribute does not contain () =>, e.g. http://cl.ly/image/16220h3S3h3T

[2015-08-13 18:02] royriojas commented on #17
Hi @kushal, what version of the esformatter-jsx and esformatter are you using?

[2015-08-13 18:09] royriojas commented on #17
can you try to replicate the issue here? http://goo.gl/x1hTHG

[2015-08-20 05:39] leftstick opened #18 "`jsx` and inline map functions not formatted correct"
While i have `render` method as following:

[code]

After formatting with the plugin, i got:

[code]

And if i re-do the formatting again, i got:
[code]

Every time i do formatting, seems the `return` part is moved further.
Strange, and incorrect.

[2015-08-20 11:58] royriojas commented on #18
hi @leftstick,

can you provide your version of `esformatter` and `esformatter-jsx`?

[2015-08-20 12:42] leftstick commented on #18
`esformatter` = `0.7.3`
`esformatter-jsx` = `2.0.11`

[2015-08-20 12:43] leftstick commented on #18
`esformatter` = `0.7.3`
`esformatter-jsx` = `2.0.11`

[2015-08-20 12:58] royriojas commented on #18
mmm, @leftstick, I cannot reproduce the issues with those versions, are you using it in sublime text or as a standalone binary?

[2015-08-20 13:10] leftstick commented on #18
I am using those version in `atom`. But it can be reproduced just in [requirebin](http://requirebin.com/embed?gist=0d67452e01754269660f#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Afalse%2C%22alignWithFirstAttribute%22%3Atrue%7D%7D%2C%22code%22%3A%22%2F%2F%20Paste%20your%20own%20code%20here...%5Cn%5Cn%5Cn%20var%

[2015-08-20 13:16] royriojas commented on #18
sadly until this is fixed:

https://github.com/millermedeiros/esformatter/issues/348

I cannot update the demo, so that makes me think the version you are using is not the latest one.

I can still provide some help if you provide some details of how you use it in atom, since I'm not familiar with it.

The latest version seems to be working pretty fine to me:

try this for example:

[code]

[2015-08-20 14:01] leftstick commented on #18
Really weird, I have following plugins installed with `atom`:

`esformatter-semicolons`
`esformatter-braces`
`esformatter-collapse-objects`
`esformatter-dot-notation`
`esformatter-jsx`
`esformatter-literal-notation`
`esformatter-quotes`

While i removed them one by one, i found my issue is caused by `esformatter-semicolons`. The formatting feature works well since i removed it.

Thanks for help

[2015-08-20 14:01] #18 closed

[2015-08-21 04:12] royriojas commented on #17
@kushal any news about this?

[2015-08-24 17:46] ipselon opened #19 "Way to reduce number of spaces in inline style attribute"
It there some way to reduce spaces  in inline style ?

[code]

[2015-08-24 18:00] royriojas commented on #19
sadly that is happening because we try to put in one line the object being formatted. If we don't that these is what we get:

[code]
which I don't see it being bad. Probably I should make that an option as well.

[2015-08-24 19:37] ipselon commented on #19
Unfortunately, in case of more than 5 components it turns into mess, but in one line without extra spaces it has a good look.

[2015-08-24 19:49] kushal commented on #17
Sorry for the delay. Versions are 0.7.3 and 1.3.0. I can't repro there, not really sure why?

[2015-08-24 20:11] royriojas commented on #19
Let me find a way to deal with that. I pass that directly to `esformatter`, so I will find a way to make esformatter deal with that. I could use regexes, but that is really very error prone

[2015-08-24 20:14] royriojas commented on #17
Can you try to install latest `esformatter-jsx`?

The last version is 2.0.11

[2015-08-24 20:27] ipselon commented on #19
Cool! I believe you will find how to make it beautiful.

[2015-08-24 21:36] kushal commented on #17
Aha, that fixed it!  Thanks!

[2015-08-24 21:36] #17 closed

[2015-08-25 17:11] kushal commented on #17
By the way, is there a way to prevent the introduction of a line break in
http://requirebin.com/embed?gist=0d67452e01754269660f#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Afalse%2C%22alignWithFirstAttribute%22%3Atrue%2C%22spaceInJSXExpressionContainers%22%3A%22%22%7D%7D%2C%22code%22%3A%22%3Cz%3E%5CnHello%20%7B%

[2015-08-25 18:17] royriojas commented on #17
so far not, since the transform introduces spans between `JSXExpressionContainers` it is actually safer to have them in their own new lines. But that can be made optional I guess

[2015-08-26 17:18] kushal commented on #17
The challenge is you then have to explicitly add {sp} when you want one.

On Tue, Aug 25, 2015 at 11:17 AM Roy Riojas <notifications@github.com>
wrote:

[2015-08-30 06:40] #7 closed

[2015-08-30 06:41] royriojas commented on #6
Latest version of `esformatter-jsx` handle a lot better the nested structures. I'm closing this issue for now, if you believe this still not enough, feel free to reopen the bug or make a pull request :)

[2015-08-30 06:41] #6 closed

[2015-09-01 15:46] filipmares commented on #15
Using the latest (2.0.11), but still getting this error.

[2015-09-01 16:30] royriojas commented on #15
hi @filipmares, are you using esformatter-jsx from the cli? or are you using it in Sublime Text 3?

If is inside Sublime you might want to follow this guide

https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

You need `esformatter@7` for it to work correctly

[2015-09-09 00:08] filipmares commented on #15
@royriojas thank you!

[2015-09-09 22:48] filipmares opened #20 "Element attributes not added to new line"
I can't force JSX element attributes to a new line using the setting below.
[code]

[2015-09-09 22:51] royriojas commented on #20
can you provide an example of the code you try to beautify?

[2015-09-09 23:02] filipmares commented on #20
[code]

[2015-09-09 23:37] royriojas commented on #20
Seems to be working for me:

http://goo.gl/IB3Ipw

Same configuration as the one you have above.

[2015-09-09 23:42] filipmares commented on #20
weird. using https://github.com/ionutvmi/sublime-jsfmt. i wonder if there is a version problem there.

[2015-09-09 23:43] royriojas commented on #20
have you followed these instructions?

https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

[2015-09-09 23:46] filipmares commented on #20
@royriojas yup

[2015-09-09 23:52] royriojas commented on #20
mm, it is weird, I just notice it stopped working for me as well, the formatter is not formatting at all

[2015-09-09 23:55] royriojas commented on #20
Apparently https://github.com/ionutvmi/sublime-jsfmt/issues/30 this is something that happened recently and it might not be related to `esformatter-jsx`

[2015-09-09 23:58] filipmares commented on #20
ah. will keep an eye on it.

On Wed, Sep 9, 2015 at 4:55 PM Roy Riojas <notifications@github.com> wrote:

--
-Filip

[2015-09-10 00:05] royriojas commented on #20
It seems that you need to make sure you install again all the plugins that you were using. that make it work again for me

[2015-09-10 00:05] #20 closed

[2015-09-10 01:50] filipmares commented on #20
i re-installed sublime-jsfmt and then following the instructions listed above to no avail.

[2015-09-10 16:15] ionutvmi commented on #20
@filipmares please make sure you have the latest version of nodejs installed.
If it's still not working please post on the ionutvmi/sublime-jsfmt#30 issue and we will sort it out.

[2015-09-14 11:36] antoinecomte opened #21 "Trouble with jsfmt"
I followed the instructions [here](https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt), but ran into some troubles :

* Could not make it to work unless I added the suggested config into the *Default* config file.
* It works, but changing the configuration parameters does not seem to work as intended. For example changing * attrsOnSameLineAsTag* to false does nothing, attributes ar

[2015-09-15 03:30] royriojas commented on #21
Hi @antoinecomte can you provide a bit more of info about your setup?

- version of `esformatter`, `esformatter-jsx`, `jsfmt`
- a sample of your config file

Just to verify, you can use from the cli this wrapper for esformatter [esbeautifier](https://www.npmjs.com/package/esbeautifier)

At least that might help to see if there is anything wrong with the plugin itself or it might be the integration

[2015-09-16 11:44] antoinecomte commented on #21
**Versions:**

esformatter@0.7.3
esformatter-jsx@2.0.11
jsfmt@0.5.0

My setting are :

**User**

[code]

**Default :**

[code]

[2015-09-17 05:52] antoinecomte commented on #21
Feeling so dumb right now, as I realize my config was totally messed up.
Moving the `jsx`entry under `options` where it belongs fixed things up.
So sorry to have wasted your time

[2015-09-17 05:52] #21 closed

[2015-09-17 15:06] dworld opened #22 "how to preserve empty line?"
set "htmlOptions. preserve_newlines = true" is not work. thinks your help.

[2015-09-17 16:01] royriojas commented on #22
hi @dworld can you show an example of what you try to accomplish?

Can you try your code here as well? http://requirebin.com/embed?gist=0d67452e01754269660f

[2015-09-18 22:01] nisaacson opened #23 "Push tag for new release"
Please push a tag to match the latest version published in the public npmjs registry

[code]

In the future the `npm version` commands are useful since they increment version in package.json and automatically generate a git tag

[code]

See https://docs.npmjs.com/cli/version for more infomration

[2015-09-19 03:07] dworld commented on #22
input:

    var foo = React.createClass({
      render: function() {
        return (
          <div>

        	  <a/>

      	    <p/>
          </div>
          );
      }
    });

output:

    var foo = React.createClass( {
      render: function () {
        return (
        <div>
          <a/>
          <p/>
        </div>
        );
      }
    } );

[2015-09-19 19:06] royriojas commented on #23
Thanks, I did use npm version, don't know exactly how this got messed up

[2015-09-19 19:06] #23 closed

[2015-10-01 20:31] aaronjensen opened #25 "Parenthesize multi-line jsx"
Is it already possible or would this plugin be the right place to automatically parenthesize multi-line jsx?

In other words:

[code]

should become:

[code]

[2015-10-01 21:05] royriojas commented on #25
it would be possible to be added as an option. And yes it can be done in this plugin

[2015-10-01 21:09] royriojas commented on #25
that said, pull requests welcome!

[2015-10-02 05:57] royriojas opened #26 "support decorators and class properties"
The following code

[code]

throws an error

[code]

[2015-10-02 06:02] #26 closed

[2015-10-02 06:27] royriojas opened #27 "support spread properties outside of JSX blocks"
the following code containing spreads operators outside of the JSX block

[code]

throws an error

[code]

[2015-10-02 06:34] #27 closed

[2015-10-06 23:59] royriojas opened #28 "error when using `export from`"
Given the following block of code

[code]

**Result:**

The beautifier fails with an error

[code]

**Expected**

[code]

[2015-10-07 00:40] #28 closed

[2015-10-08 18:36] royriojas opened #29 "Error formatting decorators"
The following code

[code]
is transformed to

[code]

Which is wrong

[2015-10-08 18:44] #29 closed

[2015-10-08 18:52] rkhayat commented on #29
:+1:

[2015-10-08 18:59] rkhayat opened #30 "Request - Option for multi-line styles"
Styles seem to be compacted on one line, is there any options for having them be on multiple lines?

[code]

[2015-10-11 09:01] leftstick opened #31 "Cannot find plugin 'esformatter-jsx'"
The issue happens on my mac. refer to: [issue](https://github.com/sindresorhus/atom-esformatter/issues/29)

Can you help on fixing it?

[2015-10-11 15:26] royriojas commented on #31
Let me try, I don't have upgraded yet to "El Capitan"

[2015-10-11 15:34] royriojas commented on #31
@leftstick  can you provide a bit more of info about the issue?

And a copy a of a configuration file you're using?

[2015-10-11 16:56] royriojas commented on #31
So I traced it to this:

[code]

The main problem is that I updated the parser, switched from espree to babel-core to support more ES6/ES7 features that the main `esformatter` plugin not yet support.

Sadly it is failing in the `acorn` module used by `falafel` I will try to make a fix for this today

[2015-10-11 17:55] #31 closed

[2015-10-11 18:15] royriojas commented on #31
@leftstick, probably will have to make another patch if the pull request is accepted on `node-falafel` but this should be enough at least it seems to be working for me now. just reinstall `atom-esformatter` or manually install `esformatter-jsx@latest` in your `~/.atom/pacakges/esformatter` folder doing `npm i esformatter@latest`

[2015-10-12 01:07] leftstick commented on #31
@royriojas  Really appreciate for your quick fix. It works for me.

[2015-10-13 04:08] amalahussein opened #32 "Extra space being added to js expressions inside jsx"
Hello Royriojas,

Thanks for this awesome plugin!

I'm not sure why an extra space is being added here where there is a return:

Before:
export class Test extends React.Component {

    render() {  //****4 spaces
        return (  //****8 spaces
            <div className="test" style={this.props.style}>  //****12 spaces
                {this.props.testApps.map((app) => {  //****16 spaces

[2015-10-13 05:48] royriojas commented on #32
Not sure I understand your issue completely but I did notice now that there is an extra space when the code is formatted. This is definitively a bug.

[2015-10-13 15:10] amalahussein commented on #32
Hi Royriojas, thanks so much, and yes, its a bug, I'll stay posted for the updates. I would love to contribute, not sure where to get started with a beautifier library.

[2015-10-27 02:19] royriojas opened #33 "support async/await constructs"
the following code

[code]

throws an error when tried to be beautified

[code]

[2015-10-27 03:31] #33 closed

[2015-10-29 15:42] damienleroux opened #34 "export ES7 class and writting a comment with the word "from""
Hi,

I have an issue when formatting this code:
[code]

If I remove either "export" or "from", all is working fine.
My test comes from sublime text 3 using jsfmt:
[code]

Is there any way to avoid this problem?

Thank you

[2015-10-29 15:57] royriojas opened #35 "Properly format code with decorators in the same line as the class or method"
The following snippet

[code]

produces

[code]

as reported https://github.com/rdio/jsfmt/issues/169#issuecomment-152212754

[2015-10-29 16:03] #35 closed

[2015-10-29 17:05] #34 closed

[2015-10-29 17:08] royriojas commented on #34
@damienleroux  The issue should be fixed now in `v2.3.9`

[2015-10-30 10:42] damienleroux commented on #35
Thank you, it is working very well now (I add to update jsfmt too)

[2015-10-30 10:42] damienleroux commented on #34
Thank you very much

[2015-11-01 23:04] falsecz opened #36 "Ignored indent_char in alingText"
Doesn't work with tabs,  PR https://github.com/royriojas/esformatter-jsx/pull/37

[2015-11-01 23:12] #36 closed

[2015-11-06 11:54] ipselon commented on #32
Hey @royriojas is there any chance to fix this bug or this is fundamental one?

[2015-11-06 16:32] royriojas commented on #32
not really, it is just a wrong calculation. but this will have to be a major change because some of the tests were mistakenly asserting the wrong thing.

[2015-11-11 06:54] LinusU opened #38 "Upgrade to babel 6.0"
This message currently gets printed when installing via npm.

[2015-11-13 11:37] royriojas commented on #38
Will upgrade, thanks for reporting it

[2015-11-13 11:38] royriojas opened #39 "Properly format code that contain BindExpressions"
The following code

[code]

if formatted as

[code]

[2015-11-13 11:44] #39 closed

[2015-11-14 22:04] feross opened #40 "Remove non npm dependency"
This package is depending on the tarball hosted here:

[code]

This is currently breaking offline installs using the local npm cache. Is there anyway not to depend on this?

(re-posted from  https://github.com/feross/standard/issues/326)

[2015-11-14 22:04] feross commented on #40
cc @mafintosh

[2015-11-14 23:02] maxogden commented on #40
@substack if you merge https://github.com/substack/node-falafel/pull/51 it might help

[2015-11-15 02:53] #40 closed

[2015-11-15 02:55] royriojas commented on #40
For now I published that branch as `fresh-falafel` until @substack has time to review/merge  substack/node-falafel#51

[2015-11-15 03:47] royriojas commented on #38
I actually tried to do the upgrade. It seems that is not something possible without finding how to make the babylon parser to understand the bind short hand "`::`". Something not really that possible.

[2015-11-15 03:55] #38 closed

[2015-11-15 03:57] royriojas commented on #40
published `esformatter-jsx@2.3.11` that doesn't use dependencies from github

[2015-11-15 07:23] feross commented on #40
Nice, thanks!

[2015-11-15 21:30] LinusU commented on #38
It is very easily solved. Use the [stage-0 preset](https://www.npmjs.com/package/babel-preset-stage-0) since the function bind operator is in stage zero.

Alternatively you can add just the [function bind plugin](https://www.npmjs.com/package/babel-plugin-transform-function-bind).

[2015-11-15 21:35] royriojas commented on #38
@LinusU  not really, `esformatter-jsx` in reality uses babylon, not babel-core. as I mention, I made the changes to use babylon [here](https://github.com/royriojas/esformatter-jsx/commit/4d7518865525e074353c3f940326961f8a8372f8) if you can configure babylon to make the tests pass it would be awesome! I won't have time to investigate it this weekend.

Regards

[2015-11-15 21:36] LinusU commented on #38
Ah, I see, thanks for explaining. I'll try to have a look at it :)

[2015-11-15 22:17] royriojas commented on #38
@LinusU actually your suggestion drove me in the right direction. I was successful replacing `babel-core` with babylon. I had made a major release, since I don't know what other syntax might be needed to be enabled.

`esformatter-jsx@3.0.0` won't print that deprecation warning.

[2015-11-15 22:25] LinusU commented on #38
Super, thank you!

[2015-11-22 21:01] royriojas opened #41 "Properly format code that contain `async/await` tokens in class methods"
the following code

[code]

fails with error:

[code]

[2015-11-22 21:06] #41 closed

[2015-11-22 21:53] royriojas opened #42 "Support exporting function expressions that contain async tokens"
The following code

[code]
produces the following error:

[code]

[2015-11-22 22:10] #42 closed

[2015-11-30 17:37] royriojas opened #43 "support decorators (ES7 decorators) in classMethods"
The following code

[code]

fails to be formatted with this error:

[code]

[2015-11-30 18:01] #43 closed

[2015-11-30 18:55] royriojas opened #44 "Properly format code that has ArrowFunctionExpressions preceded by the async token"
The following code

[code]

fails with this error

[code]

[2015-11-30 19:06] #44 closed

[2015-12-01 19:35] royriojas opened #45 "Issue formatting code that contains `// esfmt-ignore-line` in a class method decorator"
The following snippet

[code]

Generates the following, which is altering the source code

[code]

[2015-12-01 19:39] #45 closed

[2015-12-03 11:19] doque opened #46 "JSX indentation working on CLI but not in Sublime Text"
The code I'm trying to format:
https://gist.github.com/doque/6573bd5b1e6762ec0b7e

My `jsfmt.sublime-settings` file contains these options:

    {
        "autoformat": false,
        "extensions": [
            "js",
            "jsx",
            "sublime-settings"
        ],
        "jsx": {
            "alignWithFirstAttribute": true,
            "attrsOnSameLineAsTag": true,
            "firs

[2015-12-03 12:01] doque opened #47 "Incorrect indentation for lodash arrow function"
See [this example](http://requirebin.com/embed?gist=0d67452e01754269660f#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Afalse%2C%22alignWithFirstAttribute%22%3Atrue%7D%7D%2C%22code%22%3A%22%5Cnconst%20classNames%20%3D%20%5B%5C%22a%5C%22%2C%20%5C%22b%5C%22%2C%20%5C%22c%5C%22%5D%3B%5Cn%5Cnexport%20default%20class%20

[2015-12-03 18:23] royriojas commented on #47
@doque hi don't really see the issue in the formatting,

can you post also what is the expected/desired formatted output?

Also, the demo in requirebin is still pending to update to the latest version of `esformatter-jsx/esformatter`

Can you give it a try to https://github.com/royriojas/esbeautifier and see if you can replicate the issue there?

[2015-12-03 18:24] royriojas commented on #46
hi @doque, did you follow the instructions posted [here](https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt)?

[2015-12-04 09:23] doque commented on #47
Desired output would be:

    _method() {
        let classNames = document.body.className.split( " " );
        return _.some( classNames, (className) => {
        	return className === "a";
        }) === false;
    }

I can replicate this issue with esbeautifier as well, using default settings.

[2015-12-04 09:25] doque commented on #46
Yes, I did. I posted my settings file above.

[2015-12-04 12:01] royriojas commented on #46
Can you please check the sublime console? To see if any error had occurred

On Fri, Dec 4, 2015, 4:25 AM Dominique Busser <notifications@github.com>
wrote:

[2015-12-16 02:08] zkilgore commented on #46
I am having the same issue with Sublime Text 3. The error I get in the Sublime console is:

    JSFMT ==>
    Error: module.js:339
        throw err;
        ^

    Error: Cannot find module 'get-stdin'
        at Function.Module._resolveFilename (module.js:337:15)
        at Function.Module._load (module.js:287:25)
        at Module.require (module.js:366:17)
        at require (module.js:385:17)

[2015-12-24 21:01] shaunstanislaus opened #48 "weird/strange auto add semi colon into react scripts"
what happen here is, when i save my file, i have auto save turn on it auto add semi colon.

`original item.import.jsx
[code]

after saving it it becomes like this
[code]

please see my settings if i added something wrongly

`jsfmt.sublime-settings`
[code]

`SublimeLinter.sublime-settings`
[code]

[2015-12-24 22:37] royriojas commented on #48
I see the issue is caused because in order to provide certain formatting the jsxExpressions esformatter is called recursively and in that context the jsxExpressions are missing semicolons. What I can do in this case is to add an option to prevent the code from being recursively formatted. Does this work for you?

[2015-12-25 00:51] shaunstanislaus commented on #48
Yes.

[2015-12-25 01:18] shaunstanislaus commented on #48
@royriojas yes that will work. so would that be in the next update or are you able to fix it now?

[2015-12-25 12:19] #48 closed

[2016-01-05 18:28] roman01la commented on #25
Hello! I've managed to wrap multi-line JSX into parens. But the problem is the closing parenthesis, there's no any ident or whitespace token before it which I could remove. How can I do this?

[code]

[2016-01-07 01:26] tnrich commented on #19
+1 for this. Great formatter otherwise

[2016-01-13 09:47] sowdri commented on #46
There is an error in the documentation:
https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

In the following file, `plugins` should be inside `options`.
[code]

Try this version: (works)
[code]

[2016-01-18 04:32] royriojas commented on #46
@sowdri thank you for your help

hi guys can you confirm the changes proposed by @sowdri worked? It would be nice to update to update the documentation.

[2016-01-23 16:44] nerfologist commented on #25
+1 for this

[2016-01-30 00:25] realseanp opened #51 "JSX htmlOptions indent_size not working"
JSX formatting works, but it the indent_size in htmlOptions doesn't seem to work. Whether I change it from 2 to 4 the HTML within my JSX file is indented by 2 spaces, while the rest of my JSX is indented by 4.

Heres my JSX configuration:

[code]

[2016-01-30 17:19] tnrich opened #52 "Be more like prettyDiff?"
Here's how prettydiff is (at a high level) handling JSX:
http://prettydiff.com/guide/react_jsx.xhtml

It seems to be the best JSX formatter that I've encountered thus far. Any chance you're doing something differently?

[2016-01-30 17:32] royriojas commented on #52
hi @tnrich, interesting, I have been considering to switch to [jsbeautify](http://jsbeautifier.org/) directly since they now support jsx as well.

But I would like to understand exactly what are the issues you're found using last version `esformatter-jsx`? If you can be specific it would be awesome. Will take a look a prettydiff as well.

[2016-01-30 17:49] tnrich commented on #52
The main thing is esformatter-jsx doesn't seem to handle javascript
expression within jsx very well.

On Sat, Jan 30, 2016 at 9:32 AM Roy Riojas <notifications@github.com> wrote:

[2016-01-31 01:35] royriojas commented on #52
Yes, I know. There are some improvements in the queue specifically for that. Do you have any specific code block that is failing? just curious?

[2016-02-09 22:16] ckknight opened #53 "Nested JSX expressions keep indenting with formatJSXExpressions: false"
With esformatter 0.9.0 and esformatter-jsx 4.1.2,

no plugins aside from esformatter-jsx, only option is `"jsx":{"formatJSXExpressions": false}`

Input:
[code]

First output:
[code]

Second output:
[code]

Third output:
[code]

This phenomenon was not observed when `formatJSXExpressions` was not set or set to true (the default).

[2016-02-09 22:29] royriojas commented on #53
interesting, let me try to replicate and will comeback to you. thanks for reporting it.

[2016-02-14 03:36] royriojas opened #54 "async ObjectMethods are not properly formatted"
The following code breaks the formatter

[code]

[2016-02-14 03:42] #54 closed

[2016-02-17 18:52] tnrich commented on #53
big +1

[2016-02-17 18:54] tnrich commented on #46
I can confirm these changes work

[2016-02-17 18:54] tnrich commented on #19
Any updates on this front? Thanks!

[2016-02-17 19:19] royriojas commented on #46
closing it as the proposed changes made this work.

[2016-02-17 19:19] #46 closed

[2016-02-17 19:21] royriojas commented on #19
I will try to update the plugin to be more consistent, also I notice esformatter was updated as well and now it uses babylon as the parser, that might simplify things.

[2016-02-19 08:21] hoschi opened #55 "Update to new error format of jsfmt/esformatter"
jsfmt >= 0.5.2 and included esformatter updated their error format and so did editor plugins (like for vim which I use). With your plugin I get:
[code]
instead of (without your plugin):
[code]

[2016-02-19 19:46] royriojas commented on #55
Hi @hoschi, thanks for the report,

can you provide a bit more of context? a code example producing this output will be great.

[2016-02-19 19:53] hoschi commented on #55
Try just cont instead of const, but I will post an example tomorrow.

Roy Riojas <notifications@github.com> schrieb am Fr., 19. Feb. 2016 20:47:

[2016-02-19 20:09] royriojas commented on #55
Also is this error shown in the sublime console right?

[2016-02-19 20:56] hoschi commented on #55
I only know about vim, no Sublime running here unfortunately.

Roy Riojas <notifications@github.com> schrieb am Fr., 19. Feb. 2016, 21:09:

[2016-02-20 07:38] hoschi commented on #55
Here is a complete example:

code:
`cont foo = 'bar'`

error with plugin:
`src/js/components/mainSection.js { [SyntaxError: Unexpected token (1:6)] pos: 6, loc: Position { line: 1, column: 6 } }`

error without plugin:
[code]

[2016-02-22 23:29] DaleJefferson opened #56 "Trailing parentheses indented"
input and expected output:
[code]

current output (esformatter v0.9.1, esformatter-jsx v4.0.6):
[code]

[code]

[2016-03-01 00:52] Kingles commented on #53
@royriojas Hey Friend! Have you had any luck replicating this issue? Can I provide more information that may help diagnose?

[2016-03-01 01:25] royriojas commented on #53
I did replicated it man, but I have being having a big lack of time nowadays. That said PR welcome! :)

This week will be still a little busy, if nothing is done until the end of the week, I will try to take a look at this and the other issues during the weekend. Thanks for your patient.

[2016-03-01 16:14] hoschi commented on #56
You can try to change your settings to `"ReturnStatement":">=1"`, I think I had the same problem but don't tested my settings with your code example.

[2016-03-05 21:43] DaleJefferson commented on #56
@millermedeiros told me that >=1 is not a valid option for ReturnStatement.
https://github.com/millermedeiros/esformatter/issues/412#issuecomment-187417342

[2016-03-10 07:51] royriojas commented on #56
@DaleJefferson Hi, you're right this is an issue on the way the formatting is done currently, I'm planning on taking some time this weekend to fix this and other issues, thanks for your patient.

[2016-03-10 07:52] royriojas commented on #55
@hoschi that's weird, not sure why this is happening. it might be that my code is catching the error. Let me review to see what can be done here.

[2016-03-10 07:54] royriojas commented on #51
@realseanp can you please provide an example of your code? is this happening when using the plugin inside sublime or in the command line?

[2016-03-10 07:55] royriojas commented on #47
@doque are u able to replicate the issue while not using the plugin?

[2016-03-16 07:19] maitriyogin opened #58 "___AVOID_ESFMT_BUG_WITH_COMMENTS__;"
Why is this getting amended inside every function?
/Stephen.

[2016-03-24 15:37] jugarrit commented on #19
+1!
Would love a fix for this :)

[2016-03-25 02:17] zolrath commented on #19
+1 as well! I'd love to be able to have this be a required step before committing at my work but the strange spacing in objects here is ensuring that I can't at the moment.

[2016-03-25 19:12] royriojas commented on #58
I'm sorry @maitriyogin it is most than probably an awful bug for the awful hacks I had to do. Can you provide an example of the code that is producing this bug? this for certain should never happen.

[2016-03-26 01:41] #19 closed

[2016-03-26 01:43] royriojas commented on #30
closed by https://github.com/royriojas/esformatter-jsx/commit/7f898460f4e4f2697e493176c91f99fc4d36bff1. In this case if you want the styles in multiple lines you can use: `JSXExpressionsSingleLine: false` in your configuration.

[2016-03-26 01:43] #30 closed

[2016-03-26 01:48] royriojas commented on #19
@zolrath I have added `JSXExpressionsSingleLine` prop, to try to control whether the Expressions are put in a single line or span several lines.

[2016-04-04 04:41] klniu opened #59 "Esformatter crashed when there are comments in jsx"
When there is comment is jsx, the esformatter will crash reporting the following error:
`
"test.jsx" 10L, 242C written
Error while executing esformatter! no changes made.
Error: stdin Cannot read property 'value' of undefined
TypeError: Cannot read property 'value' of undefined
    at getParentheses (/usr/lib/node_modules/esformatter/lib/hooks/expressionParentheses.js:26:66)
    at Object.addSpace

[2016-04-06 15:32] josephfinlayson opened #60 "JSX replaced with <__ESFORMATTER__JSX_NODE_0_0 />"
the diff is:

[code]

[2016-04-07 09:24] mmazzarolo commented on #58
Hey there, same issue.
Here is an example (react-native):
[code]

Results:
[code]

[2016-04-07 20:47] royriojas commented on #58
That's weird I just ran this against the latest version of `esformatter-jsx` but I can't reproduce it. Can you provide your esformatter configuration?

[2016-04-07 21:03] royriojas commented on #60
hi @josephfinlayson

Thank  you for your feedback, can you please provide the configuration you're using for esformatter? I tried your code and it worked fine. Can you please try to format the code with [esbeautifier](https://www.npmjs.com/package/esbeautifier) just to verify that the bug is also happening?

Thanks

[2016-04-12 18:42] ipselon commented on #19
@royriojas many thanks, it works perfectly.

[2016-04-13 18:34] tnrich opened #61 "Demo appears to be broken"
![image](https://cloud.githubusercontent.com/assets/2730609/14504912/a60582f0-016b-11e6-8dbc-13b2fb6ef936.png)

[2016-04-13 19:23] royriojas commented on #61
Hi Tomas, yes It seems somehow esformatter@latest cannot be browserified (not sure why) I tried to revert to the latest working version of the demo, one that uses an old version of esformatter, but requirebin was having issues with the update :(

In any case will try it again soon. Thanks for the report!

[2016-04-19 09:21] initialize opened #62 ""formatJSX": false does not ignore markup like esformatter-jsx-ignore did"
Hey! Had issues with formatting using tabs, so I figured I'd roll with it and format my JSX manually. However, settings formatJSX: false still formats as below.

Example
[code]

[2016-04-19 09:23] initialize commented on #62
The reason I can't just use esformatter-jsx-ignore is because it throws on es6 imports.

[2016-04-19 09:28] royriojas commented on #62
hi @initialize,

can you provide an example of your `esformatter` config?

[2016-04-19 11:55] initialize commented on #62
Here is the .esformatter config file.

[code]

[2016-04-19 16:06] mike-engel commented on #10
I know that this is an old issue, but is there a setting to reverse this? My company's code style dictates that both `>` and `/>` should be on their own line.

[2016-04-19 17:35] royriojas commented on #62
Oh I get it, the formatting that you're getting is done by esformatter itself, not by this plugin

This entry:
[code]
Produces this:
[code]

Even when the plugin is not loaded (pure `esformatter`).

The `formatJSX` flag **just disable the plugin** so the formatting you receive is probably comming from esformatter itself.

`formatJSX` option is misleading. I might be able to completely ignore JSX b

[2016-04-19 17:41] royriojas commented on #10
Hi @mike-engel,

Yeah we can add this option. Will see how hard it is.

[2016-04-20 08:50] initialize commented on #62
Ah, that explains it. Yeah, that would be great!

Just thinking; There might be people out there who rely on the current functionality of "formatJSX": false, so it might be safer to either add a new value "formatJSX": "ignore" or introduce a new property "ignore": true, depending on your preference.

[2016-04-20 19:20] ljack commented on #53
Ditto, sometimes it keeps adding the spaces and sometimes it's stop after certain amount of extra identing ;)
[code]
scroll to the right ;)
Where to start digging to fix this?

[2016-04-21 00:26] royriojas commented on #53
@ljack

I have added a small demo of esformatter-jsx that should help to fix the issue:

https://github.com/royriojas/esformatter-jsx/commit/f3be6e09300e0d299c482c95333dd17ea3b74d76

So basically there is a folder `demo/` inside the repo and it has 2 folders one says entry and the other one says result.

I have added the code you posted there and when running the tool on it, even multiple times, i

[2016-05-02 19:01] #61 closed

[2016-05-04 17:29] kaktus42 opened #65 "format with beautify in sublime"
I installed jsfmt and esformatter-jsx like here:
https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt
And installed beautify globally with npm.

The javascript-part gets formatted okay, but the jsx part is not processed by beautify.

My jsfmt.sublime-settings:

[code]

I also tried with console: `esformatter <FILE>` with a .esformatter with the config from here: https://github.com/ro

[2016-05-05 00:40] yanickrochon opened #66 ""The formatting failed...""
I'm not certain, but I believe fsFmt is looking for Node.js and can't find it. Here is the console output :

[code]

The thing is that I am using nvm and the `node` executable *is* available from the console. I have `0.12`, `4.1` to `4.4`, `5.8`, and `6.0` installed; the default one being `6.0` right now. My PATH env variable does contain the correct path. I'm not sure what's wrong.

[2016-05-05 01:38] royriojas commented on #66
hi @yanickrochon I assume the issue you have is related to sublime text and jsfmt right? I can try to provide some help, but it might be good for you to report the issue in the jsfmt repo.

First have you tried this guide? I just updated it to match the latest JSFMT configuration info:
https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

Also please check:
https://github.com/ionutvm

[2016-05-05 01:40] royriojas commented on #65
Hi @kaktus42

JSFMT updated the configuration file, I have updated the wiki page to match https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

now the configuration for JSFMT goes inside the `options` key

[2016-05-05 08:19] kaktus42 commented on #65
yes, perfect!
thanks

[2016-05-05 08:19] #65 closed

[2016-05-05 09:03] fab1an opened #67 "make JSX ending bracket on a new line"
Moved from here: https://github.com/millermedeiros/esformatter/issues/433

Is it possible to format JSX like this:

[code]

At the moment I get

[code]

I tried countless options already without result, so I ask here. I use the `esformatter-jsx` plugin.
Many thanks.

[2016-05-09 11:05] asazernik opened #68 "Incorrect indentation for elements whose names are case-insensitive matches to HTML self-closing tags"
Example output:

[code]

In HTML, `<col>` is a singleton tag: it can't contain any content, and if it doesn't have the closing '/' it's still a complete tag on its own. Because of this, js-beautify's HTML beautifier doesn't indent the line after any tag that shares a name with one of these singleton tags. Even if the "self-closing" tag is closedlater

However, this is not a feature of JSX, even wh

[2016-05-09 19:04] royriojas commented on #68
Thanks @asazernik for reporting. Will investigate other xml formatters that might do a better job.

Regards

[2016-05-14 10:01] captainkovalsky opened #69 "How to configure formatting of destruction assignment?"
I wanna to format

[code]

to

[code]

[2016-05-14 12:49] fab1an commented on #67
Is this possible?

[2016-05-14 22:40] royriojas commented on #67
hi @fab1an,

Sadly currently it is not possible. It might be easy to do though. PRs welcome.

[2016-05-14 22:48] royriojas commented on #69
I myself tried to find a way to make this to happen. The only way I found was to use the ignore comments:

[demo](http://royriojas.com/resources/esformatter-jsx/#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Atrue%2C%22alignWithFirstAttribute%22%3Atrue%2C%22JSXExpressionsSingleLine%22%3Afalse%2C%22removeSpaceBefor

[2016-05-16 13:30] trajano commented on #58
I have the same issue here's my config.
[code]

[2016-05-16 13:33] royriojas commented on #58
hi @trajano can you please share a snippet of the code that cause the issue? Also, is that the full config?

[2016-05-16 13:35] trajano commented on #58
To fix it is just one character change.  I'll point it out

[2016-05-16 15:16] trajano commented on #58
Key thing to note, I'm using `esformatter-asi` so that will remove the `;` that are not needed.  @maitriyogin and @mmazzarolo  I am presuming you are doing the same.

[2016-05-16 15:18] royriojas commented on #58
@trajano that might make sense. I will add your suggestion to the regex that should fix the issue.

[2016-05-16 15:20] trajano commented on #58
Pls make a release soon :+1:

[2016-05-16 15:31] royriojas commented on #58
Incorrectly marked the wrong issue as closed... but this is already closed and published as `esformatter-jsx@5.0.4` Thanks for the help @trajano

[2016-05-16 15:31] #58 closed

[2016-05-17 00:45] trajano commented on #58
Just confirmed on https://github.com/trajano/meteor-boilerplate/tree/react I think you can close this.

[2016-05-17 01:34] royriojas commented on #58
nice @trajano. Thanks for your help.

[2016-05-17 01:39] trajano commented on #58
NP, too bad we can't get esformatter to format it the way `standard-react` wants.  I had to do two rules but it's fine

    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-indent": 0

[2016-05-20 00:49] ckknight commented on #53
This is absolutely still happening. I have run your demo and get the broken result as soon as I copy `demo/result/bug-9.js` to `demo/entry/bug-9.js` and re-run.

[2016-05-20 01:07] ckknight opened #71 "Trailing space on nested JSX expressions"
Input:
[code]

Output:
[code]

The internal `FormattedMessage` has a space at the end of the line before each newline.

[2016-05-20 01:18] ckknight opened #72 "Template or backtick strings keep being indented"
This is likely related to #53, but occurs regardless if `formatJSXExpressions` is true or false

Using esformatter 0.9.3 and esformatter-jsx 5.0.4

.esformatter:
[code]

Initial input:
[code]

First output:
[code]

Second output:
[code]

Third output:
[code]

Also see #70 for a PR to verify reformatting

[2016-05-22 20:54] royriojas commented on #72
definitively an ugly bug. :(

Will try to take a look at it now

[2016-05-23 10:05] royriojas commented on #72
I just published a new version with this fixed. Let me know if there is any instance where it fails...

[demo](http://royriojas.com/resources/esformatter-jsx/#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Atrue%2C%22alignWithFirstAttribute%22%3Atrue%7D%7D%2C%22code%22%3A%22function%20render(count)%20%7B%5Cn%20%20%

[2016-05-23 10:05] #72 closed

[2016-05-27 08:10] arminrosu opened #73 "Support decorator on same line as property"
Hello,

We are using a lot of decorators with properties, on the same line. e.g.

[code]

Unfortunately, this throws an error: `Unexpected token (2:62)`. Adding a line break between them fixes this issue. It would be nice if it could either format it itself or leave it as it is.

Here is my `.esformatter`:

[code]

Last but not least, thanks for this great plugin!

[2016-05-27 08:49] royriojas commented on #73
Hi @arminrosu, yes I noticed that issue when starting using mobx...

Will fix it!

[2016-05-27 09:07] arminrosu commented on #73
Awesome, thanks :)

[2016-05-28 05:59] #73 closed

[2016-05-30 07:50] tnrich commented on #53
Any movement on this one? I'm still seeing it as well, although I'm not 100% positive my Atom plugin is using the latest version of esformatter-jsx.

[2016-05-30 15:11] royriojas commented on #53
@tnrich as I said I cannot replicate this with the latest version. If you have some code that produce the issue will be nice to try to replicate. Let me know if you can share it.

[2016-05-31 09:08] millermedeiros commented on #59
probably duplicate of https://github.com/millermedeiros/esformatter/issues/427 (which was fixed on esformatter v0.9.4)

[2016-05-31 18:22] ckknight commented on #53
Definitely replicable:

[code]

[2016-06-01 13:45] arminrosu opened #74 "Decorators formatting bug when using esformatter-asi"
Hi,

Thanks again for fixing inline decorators :).

Found a new edges case where esformatter-jsx behaves unexpected:

[code]

**Input**

[code]

**Output**
[code]

I'm not sure if _asi_ adds characters which break the replacement or there is another issue.

[2016-06-03 10:15] fab1an opened #75 "esformatter doesn't preserve newlines"
For some reason esformatter won't preserve any newlines. My config:

[code]

[2016-06-05 07:36] millermedeiros opened #76 "conflict with esformatter-quotes plugin"
since this plugin removes the `JSXElement` from the tree (replaces it with a comment), other plugins aren't able to make changes to the JSX unless they also use `stringAfter`

`esformatter@0.9` uses Babylon and is able to parse JSX, so maybe you don't need the `stringBefore/stringAfter` hack anymore.

see: https://github.com/millermedeiros/esformatter-quotes/issues/15

[2016-06-05 14:56] royriojas commented on #76
Hi @millermedeiros,

you're right, will see if it is possible to remove the `stringBefore/stringAfter` hack.

regards

[2016-06-06 13:24] visdgithub commented on #62
Any progress with this, I too got struck looking for a way to ignore JSX .... esformatter-jsx-ignore wont work on es6 imports and formatJSX of esformatter-jsx can't be used either as per discussion above!!

Any way to ignore JSX ??

[2016-06-06 16:30] royriojas commented on #53
@ckknight not sure I follow your log,

So you basically are saying that as soon as you clone, pull master and run the demo it crashes?

Cause that's definitively not happening to me :(

Will try on another laptop to see if I can reproduce.

[2016-06-06 16:31] royriojas commented on #66
@yanickrochon closing as not more comments were done. Feel free to reopen.

[2016-06-06 16:31] #66 closed

[2016-06-06 16:42] ckknight commented on #53
Yes, immediately after cloning, running `npm install`, and then running `npm run exec-demo`, it errors.

[2016-06-06 23:43] royriojas commented on #53
I was finally able to reproduce. I removed my npm modules and the issue start to happen. Not sure why.

In any case I see the reason now, there are some tags that js-beautify just leave as unformatted, `span` is one then. A workaround is to remove span from the list of unformatted in the `htmlOptions` section. But it won't be perfect. I will try to see if a proper fix can be implemented.

Thanks f

[2016-06-08 08:41] fab1an commented on #75
Is there anything I can do about this? The problem is that it reformats my `Text` and `span` attributes which changes the way text is displayed, so formatting actually introduces bugs :(

[2016-06-09 15:34] royriojas commented on #75
hi @fab1an, sorry for the issues on preserving new lines

can you please send me the following:

1. A sample of code previous to formatting
2. A sample of formatted code with the issue
3. A sample of the desired output

[2016-06-09 15:43] royriojas commented on #74
Hi @arminrosu, sorry for this issue.

Yes we do have some issues with the interop with other esformatter plugins.

[2016-06-09 15:46] royriojas commented on #69
@vdzundza you might also want to ask this question in the esformatter repo. Probably is the right place to add the question

[2016-06-09 16:53] fab1an commented on #75
And thanks for your time!

[2016-06-09 19:53] arminrosu commented on #74
As far as bugs go, this is one I can certainly live with. esformatter-jsx is a really useful project. I especially appreciate that you stay involved. Thank you!

[2016-06-10 13:10] arminrosu opened #77 "Handle decorator arguments"
Hey,

Sorry to bother again. _esformatter-jsx_ fails on files with decorator arguments:

**example.js**
[code]

**.esformatter**
[code]

[2016-06-11 03:57] schleumer opened #78 "Weird semicolon issue"
if i have a script like this:

[code]

a exception is thrown:  `//==> Error: Unexpected token (5:5)`.

It's a valid expression.

[2016-06-11 10:14] #78 closed

[2016-06-11 10:25] royriojas commented on #78
[demo](http://royriojas.com/resources/esformatter-jsx/?2#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Afalse%2C%22alignWithFirstAttribute%22%3Atrue%7D%7D%2C%22code%22%3A%22const%20obj%20%3D%20%7B%5Cn%20%20abc%3A%20'2'%2C%5Cn%20%20fn()%20%7B%5Cn%20%20%20%20return%20%7B%5Cn%20%20%20%20%20%20hello%3A%20'world'%5Cn%2

[2016-06-11 11:12] schleumer commented on #78
Thanks!

[2016-06-12 08:10] #77 closed

[2016-06-12 08:12] arminrosu commented on #77
Thank you very much!

[2016-06-12 09:33] #76 closed

[2016-06-12 09:41] royriojas commented on #76
Hi @millermedeiros,

I removed the replacement of `jsxElements` on `stringBefore`. But this plugin added an option to not recursively format the `jsxExpressions` so I have to instead now replace the `jsxExpressions` during `stringBefore`. if the option `formatJSXExpressions` is set to true (which is the default value) then you will have the desired results.

Hope this is good enough. In my tests t

[2016-06-15 08:21] teknologist opened #79 "Can't get it to work in sublime: SyntaxError: Unexpected Token"
Hi,

Whatever JSX file I try, I always get this error:

[code]

Here is my jsfmt settings file:

[code]

I am using latest versions as of today. Been struggling with this..

Can anyone help ?

[2016-06-15 18:11] royriojas commented on #79
hi @teknologist can you try formatting your code here and see if it works?

http://royriojas.com/resources/esformatter-jsx/

Just to make sure it is something with the formatter and not with your configuration. If it works there it might be an issue with the configuration

[2016-06-15 21:48] teknologist commented on #79
Hi @royriojas,

I have tested the code online and it works without a glitch....

[2016-06-16 09:29] fab1an commented on #75
Any news on this?

[2016-06-16 09:57] royriojas commented on #75
hi @fab1an, I'm sorry I haven't had the time yet to take a look to it.

It seems simple though, if someone wants to help with this PRs are welcome!

Regards

[2016-06-16 09:57] royriojas commented on #79
Hi @teknologist have you followed the instructions found here? https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

[2016-06-16 11:10] fab1an commented on #75
I don't have time for more than spotting simple bugs either :-/.

I've looked through the code, and from what I see `esformatter-jsx` send the html "between" the jsx separately through `js-beautify`. If I'm right this is the reason the options regarding newlines don't work, because there are none.

[2016-06-16 13:09] teknologist commented on #79
@royriojas Yes I did. That is when I hit the last line and opened the issue.. ;-)

[code]

[2016-06-16 13:10] teknologist commented on #79
@royriojas While doing an npm list I have this:

[code]

Maybe it is related to this:

[code]

[2016-06-16 13:37] teknologist commented on #79
@royriojas
I just updated to 7.0.0

Same error:

[code]

[2016-06-18 15:28] teknologist commented on #79
Hi @royriojas ,

Just thought I'd let you know I pinpointed the error to an incompatibility with esformatter-semicolons.

once I remove it from my esformatter plugins, the problem disappeared

[2016-06-18 15:30] #79 closed

[2016-06-20 03:11] afc163 commented on #25
+1

[2016-06-20 04:19] abbr opened #80 "Error formatting Windows line ending CRLF files"
Following error is thrown in console when saving files with CRLF line ending on Windows. On the same machine unix line ending files work fine.

[code]

[2016-06-20 19:15] ckknight commented on #72
@royriojas Your demo duplicates the backtick string in the inner backtick string.

Also, the indentation bug is present if you do something akin to

[code]

[2016-06-20 20:00] royriojas commented on #72
@ckknight I have to update the demo to use the latest. That shouldn't be happening with the latest.

For the other one I will investigate. Would you matter to create a new issue for the tags in backtips? please.

[2016-06-27 02:17] littlee opened #82 "Performance issue"
I found it runs so slow to use with Sublime Text (Sublime-Linter)

When using this plugin, it takes 10 sec to format the file
When not, it takes 1~2 sec to format the file, though JSX is not be formmatted

[2016-07-16 20:17] ezra-g opened #83 "No Effect on JSX Render Function Indentation in Sublime 3"
I'm attempting to get esformatter-jsx working in Sublime 3. It appears that esformatter is not formatting markup inside the render function of a JSX template.

For example, in [this gist](https://gist.github.com/ezra-g/edceb3750e46ae52fd0c5d2fb3be77f2), the tab before `  class Foo extends Component {` is successfully removed, but the divs remain disorganized in their indentation.

I have EsFormatt

[2016-07-19 16:54] ByStones opened #84 "map in jsx gets worse everytime the formatter is run"
The following code gets formatted in a really weird way and gets worse everytime the formatter is run.

Code as Gist because this editor kills spaces?
https://gist.github.com/ByStones/d5065dd54fccf9ad293fe48756edff30

esformatter: 0.6.9
esformatter-jsx: 7.0.1

[2016-07-19 17:13] royriojas commented on #84
Hi @ByStones,

Thanks for reporting the issue, yes there is a bug already opened for this behavior https://github.com/royriojas/esformatter-jsx/issues/53, I haven't had much time lately to fix issues, in any case PRs are welcome will close this as duplicated of #53

[2016-07-19 17:14] #84 closed

[2016-07-19 17:33] royriojas commented on #83
hi @ezra-g,

not sure I understand correctly the issue, I haven't try this plugin with `sublime-esformatter`, it seems that package requires you to install `esformatter` either in the project folder or globally. How are you installing `esformatter`?

if globally I bet you need to also install this plugin as global, the instructions you mentioned were for sublime `jsfmt` a different package, so not

[2016-07-19 17:38] royriojas commented on #82
hi @littlee

Not sure I understand the issue correctly, I haven't use this plugin with sublime-linter, not sure how are you using it, can you provide more details on how is that you're using this from sublime text?

So far the only way I tried it to use it with sublime was using `jsfmt` and performance wise I never had issues, also a reduced test case of the code with issues will definitively help

[2016-07-19 17:40] royriojas commented on #80
Hi @abbr,

thanks for reporting. I don't actively use windows so I'm not sure I can test this, but it should not be an issue. Can you try copy pasting the code here: royriojas.com/resources/esformatter-jsx and verify if the issue can be reproduced?

Regards

[2016-07-28 08:31] littlee commented on #82
My fault, what I use is "EsFormatter", let me try jsfmt

[2016-08-13 05:05] hiaw opened #85 "Should not insert new lines"
esformatter keep inserting new lines before curly bracket for JSX like this

[code]

when I wanted to keep it this way

[code]

This is my config

[code]

Did I messed up my config? Help?

[2016-08-14 17:08] royriojas commented on #85
hi @hiaw

No you didn't, it is somehow expected behavior. I will see if I can make that behavior optional, but lately I haven't had much time to spend on the issues.

In any case a workaround for this issue will be to use string interpolation

[code]

I will mark this as an enhacement

[2016-09-09 09:18] chenglou commented on #25
@roman01la do you still have the source for this?

[2016-09-09 09:44] roman01la commented on #25
@chenglou I think it's here https://github.com/roman01la/html-to-react-components/blob/master/lib/format.js#L226
I'm using in a tool to convert HTML to React components. You can find how to run it in readme.

[2016-09-09 19:20] royriojas commented on #25
Very nice @roman01la. I will try to see if I find time to add this to `esformatter-jsx` directly.

[2016-10-26 11:11] octohedron opened #88 "Can't format export async function ..."
Getting unexpected token

[code]

JSFMT Settings
[code]

Other files work fine, it's only failing there

[2016-11-01 15:30] royriojas commented on #88
hi @octohedron,

what settings are u using? it seems to be working fine with `esformatter-jsx@7.1.0`. It seems you're using sublime-jsfmt right?

[2016-11-01 23:20] wtgtybhertgeghgtwtg opened #89 "Update `babylon`."
It's preventing a clean dedupe with `babel`.  Alternatively, revert #49, since `babylon` is the only dependency that uses a fixed version.

[2016-11-02 18:38] #89 closed

[2016-11-02 18:39] royriojas commented on #89
@wtgtybhertgeghgtwtg published new version 7.2.0.

[2016-11-17 16:47] wtgtybhertgeghgtwtg commented on #31
It looks like the underlying issue [was fixed](https://github.com/ternjs/acorn/commit/aed55f3881beb1ea26d8622ada9973839b2b7175) in `acorn@4.0.3`.  Would updating `acorn` in `falafel` be a better solution?

[2016-11-22 00:47] pbojinov commented on #69
did you guys end up finding a setting for this?

[2016-11-24 17:36] jamesvillarrubia commented on #68
Bump on this.  Is extra annoying.

[2016-11-26 02:51] bigfish opened #92 "">>> undefined" appears in CLI output when using this plugin"
having installed esformatter and esformatter-jsx globally, when I run the command

    esformatter --plugins esformatter-jsx Foo.js

It formats appropriately, except I get output:

import React, { PropTypes } from 'react';
import { reduxForm, change } from 'redux-form';
...

I have this no .esformatter file or other configuration. Using Mac OS X , iterm2, bash, node 5.

Any help appreciated, other

[2016-11-26 02:52] bigfish commented on #92
github changed the formatting of ">>>" to indent ! actually what appears is ">>>undefined" on first 2 lines.

[2016-11-26 03:44] chenglou commented on #92
The published package contains that line in `lib/format-jsx.js`:

<img width="369" alt="screenshot 2016-11-25 19 42 56" src="https://cloud.githubusercontent.com/assets/1909539/20637810/6a31465e-b347-11e6-8305-55605805e0ff.png">

I couldn't find this in the commit history. It's possible that this line's been added before `npm publish` (which picks up local changes, not a clean state git checkout).

[2016-11-26 04:53] royriojas commented on #92
Sure, so sorry not sure how this line got into it. Fixing it now.

[2016-11-26 04:59] royriojas commented on #92
@chenglou so sorry, a new version was published v7.3.2

[2016-11-27 00:48] chenglou commented on #92
Works now, thanks a lot!

[2016-11-28 03:56] #92 closed

[2016-11-28 15:07] bigfish commented on #92
yup, works for me too , thanks!

[2016-11-29 21:54] royriojas opened #93 "Add an option to control if StringLiterals in JSXAttributes' value should use double quotes or single ones"
1. Let's call that property `JSXAttributeQuotes`
2. if the property has a value of empty, null or undefined (in short if `falsy`) then ignore it, quotes should remain as they were received
3. If the property has a value different from `single` or `double`, just ignore it.
4. if the property has a value of single, then make sure all stringLiterals in JSXProperties use single quotes.
5. if the prope

[2016-11-29 22:27] #67 closed

[2016-11-29 22:27] royriojas commented on #67
It was closed by #87

[2016-11-29 22:41] royriojas commented on #82
Closing since there hasn't been any new activity on this issue and it might be caused because of the wrong tool was used.

[2016-11-29 22:41] #82 closed

[2016-11-30 02:21] #93 closed

[2016-12-02 02:28] octohedron opened #94 "Fails to format props function"
Normal
[code]
After applying formatting it becomes
[code]

Notice that every time you format, it adds additional indentation to the contents of the onDateChange function

Using esfromtatter-jsx@7.4.0 with sublime-jsfmt

Update: found the problem, it's when using the **property shorthand**, changing date to date: date fixes the issue, the thing is, this should support it.

[2016-12-02 19:52] royriojas commented on #94
hi @octohedron

I'm having a hard time reproducing this bug. I just copied pasted your code to the small test demo in the repo and I'm not able to reproduce. Can you also share your config please?

[2016-12-05 02:07] #94 closed

[2016-12-08 09:45] roman01la commented on #25
@royriojas Hey! Any updates on this issue? :)

[2016-12-08 13:56] royriojas commented on #25
So sorry @roman01la I haven't had the time yet. Will try to see if I can get something done over the weekend. On the other hand, since you do have an idea of how to fix this, please don't hesitate to make a PR. Will be more than thankful for your help.

[2016-12-08 14:00] royriojas commented on #25
Also, just in case you're also using eslint, the eslint-plugin-react has this rule https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md that might help with this issue.

[2016-12-10 08:15] DaleJefferson commented on #25
I'm now using eslint & eslint-plugin-react with auto-fix for all my formatting needs.

[2016-12-10 20:15] aaronjensen commented on #25
@DaleJefferson it seems like the auto fix simply wraps it in parens, so it ends up looking like this:

[code]

is that what you're seeing too?

[2016-12-11 08:48] DaleJefferson commented on #25
@aaronjensen Yes it's not perfect but I find ESLint --fix does 90% of the formatting, having a separate formatter seems redundant, I don't think there is an ESLint rule for new line after parens but i'm sure it would be fairly simple to write.

[2016-12-12 02:16] royriojas commented on #25
@DaleJefferson me too, I tend to agree with that. I can see how eslint can be converted to a formatter as well in the future at least.

[2016-12-29 00:27] ujwal-setlur opened #95 "H1, H2, etc tags not handled properly"
There seems to be an issue when the tag inside the JSX is an H1, H2, etc. Here is the input and expected output:

**Input:**
[code]

**Expected output:**
[code]

**Actual output:**
[code]

If run the formatter again, it keeps moving the blah-blah text and closing tag more to the right:

[code]

However, if I rename the tag as anything other that H1, H2, etc., i.e. I rename this to K4, it works fin

[2016-12-29 13:10] ipselon commented on #95
+1

[2017-01-04 15:30] swinston1000 opened #96 "Closing parenthisis on multi line JSX not formatted"
Hi

Thanks so much for the great  plugin

It's working very well apart form one small thing.
The closing parenthesis for the return statement is not indented properly.

![image](https://cloud.githubusercontent.com/assets/21197807/21647492/2ecbadfe-d2a3-11e6-8637-c6a8e98afd37.png)

These are my settings. I hope you can help me. Thanks.

[code]

[2017-01-04 15:52] swinston1000 commented on #56
@royriojas , @DaleJefferson
I am having the same issue, has this been solved?

[2017-01-04 16:02] swinston1000 commented on #56
Before I saw this thread I opened an issue here - https://github.com/royriojas/esformatter-jsx/issues/96
Feel free to remove it.

[2017-01-04 16:12] swinston1000 commented on #25
@DaleJefferson - sorry if this is off topic...
Do you know if it is possible to use auto-fix for ESLint to auto format in Sublime 3 ?

[2017-01-04 16:29] royriojas commented on #25
@swinston1000 I execute `eslint --fix` from the command line, not from Sublime. But probably there is an option for that.

[2017-01-04 16:30] royriojas commented on #96
duplicate of #56

[2017-01-04 16:30] #96 closed

[2017-01-04 16:40] swinston1000 commented on #25
@royriojas - many thanks!

[2017-01-10 12:23] wKich opened #97 "JSX replaced to <__JSXExpression_0_0 />"
Here is the [link](http://royriojas.com/resources/esformatter-jsx/#%7B%22config%22%3A%7B%22jsx%22%3A%7B%22attrsOnSameLineAsTag%22%3Afalse%2C%22maxAttrsOnTag%22%3A1%2C%22firstAttributeOnSameLine%22%3Afalse%2C%22alignWithFirstAttribute%22%3Atrue%7D%7D%2C%22code%22%3A%22%5B%5Cn%20%20%3Cdiv%3E%5Cn%20%20%20%20%3Cspan%3E%5Cn%20%20%20%20%20%20%3CFoo%5Cn%20%20%20%20%20%20%20%20aaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2017-01-10 18:40] royriojas commented on #97
oh @wKich thanks for reporting this. Can you check if this is happening on latest version? (demo is not using the latest, will have to update it soon)

[2017-01-11 05:50] wKich commented on #97
Checked on latest version, output the same.

[2017-01-11 07:30] wKich commented on #97
I did some research and we can fixed this problem modify RegExp in this [line](https://github.com/royriojas/esformatter-jsx/blob/master/src/format-jsx.js#L87) to
[code]

Because `js-beautify` inserted new line character [here](https://github.com/beautify-web/js-beautify/blob/master/js/lib/beautify-html.js#L467) if `JSXExpression` placeholder tag follow by [unformatted](https://github.com/beautify-

[2017-01-11 08:11] wKich commented on #97
I try to make PR. But I think somewhere in options reading there is another bug. If I specify for my test case `htmlOptions.unformatted` default array from `js-beautify` package, then the other test cases after my will fail.

[2017-01-11 14:42] royriojas opened #99 "replace mocha with jest? or use some sort of snapshot testing for mocha"
I have been working now more frequently with jest and snapshot testing seems to be fairly more powerful than manually trying to create the expected results. This will be definitively make writing tests more easily.

[2017-01-11 14:44] royriojas opened #100 "Migrate to ES6"
This one is just for convenience, ES6 is somehow nicer syntax.

[2017-01-11 14:45] #97 closed

[2017-01-11 14:52] royriojas commented on #60
Closing for now, please feel free to reopen if this issue arise.

[2017-01-11 14:52] #60 closed

[2017-01-15 18:24] Heedster commented on #32
I am still having this problem using the latest version.

[code]

[2017-02-06 05:50] sparkmorry commented on #56
hi @royriojas ,
How is the issue going? I installed the latest esformatter-jsx@7.4.1, however, it doesn't work.

[2017-02-08 11:14] chuan137 opened #101 "Closing round bracket indentation"
with the default options, the closing round bracket in return clause is indented one level more.

[code]

I am using beautify@0.7.3 and react-beautify@0.3.0

[2017-02-18 04:02] neosis opened #102 "sublime text 3 JSMT - esformatter-jsx plugin not found"
Hello

I am using jsfmt package to format jsx file using esformatter-jsx.

I am getting following error -
[code]

esformatter and esformatter-jsx node modules are locally installed.
[code]

Command line invocation of esformatter with corresponding .esformatter works as expected.

following is my user - jsfmt.sublime-settings. Default settings are unchanged.
[code]

What could be the issue?

Thanks

[2017-02-20 01:41] royriojas commented on #102
hi @neosis can you try the guide shown here? https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

[2017-02-20 01:51] neosis commented on #102
Thank you @royriojas. It was my mistake. I installed esformatter and esformatter-jsx in node project directory while I should have installed it in package directory of jsfmt sublime package. It worked now.

best
Ash

[2017-02-20 01:51] #102 closed

[2017-02-20 01:52] royriojas commented on #102
cool! @neosis happy formatting :)

[2017-03-18 04:20] janryWang opened #103 "Why not format json string expression?"
[code]
can not format to

[code]

[2017-03-20 16:00] sbussetti commented on #56
+1

[2017-03-20 17:50] royriojas commented on #56
Hi @sparkmorry, yes, sadly this is still an issue. I'm currently out of time to fix these issues, but there might a be a couple of other options out there like https://github.com/prettier/prettier, that might be doing a better job on this kind of issues.

In any case I would happily review/accept and merge PRs for this issue if anyone has the time to make one.

Regards

[2017-03-20 20:34] royriojas commented on #103
have you tried setting `JSXExpressionsSingleLine` to false?

[code]

given this input
[code]

I obtain this output

[code]

[2017-03-21 14:44] janryWang commented on #103
Wow! Thanks @royriojas

[2017-03-21 14:45] #103 closed

[2017-03-24 07:02] janryWang opened #104 "how to use esformatter-jsx in browser environment"

[2017-03-24 15:14] royriojas commented on #104
Hi @janryWang would you like to provide a bit more of context?

In the meantime, this is how we used to do it in the online demo (currently offline, temporarily)

You need to use webpack or browserify to create a bundle
[code]

[2017-03-28 15:31] varunkumar commented on #101
Any fix for this?

[2017-04-10 13:32] jamtat commented on #75
This is a dupe of https://github.com/royriojas/esformatter-jsx/issues/22

[2017-04-10 15:15] jamtat commented on #75
Part of the problem is https://github.com/royriojas/esformatter-jsx/blob/master/src/format-jsx.js#L155 ( `return removeEmptyLines(code.toString());` ) which calls `removeEmptyLines` on the source regardless of the preserve_newlines option. It should probably not do that.

[2017-04-10 18:03] royriojas commented on #75
Hi @jamtat you're right. The code needs some refactor. Really hate that I'm so busy these days, that I can't really make any progress on these issues. :( That said. PR's are most than welcome.

[2017-04-10 19:15] jamtat commented on #75
I made a fork earlier and pushed a commit to conditionallly remove blank
lines but it has a bug that inserts whitespace around JSXExpressions (I
think?) Which means most of the tests fail. I'll keep having little
attempts at fixing it and PR when the tests pass :)

On Mon, 10 Apr 2017 at 19:03, Roy Riojas <notifications@github.com> wrote:

[2017-04-12 07:47] EnriqueSalazar opened #105 "Can't format custom tags"
Hi.

I am not being able to format JSX properly, I have read in past issues that this was a problem with previous versions, but is not clear for me if this is still an issue or I am just doing something wrong.

[code]

I am using VSCode with react-beautify, with a local formatter:

[code]

My configuration goes:

[code]

Thanks!

[2017-04-12 23:31] #105 closed

[2017-04-12 23:34] royriojas commented on #105
Hi @EnriqueSalazar

I just published a new version of `esformatter-jsx` that fix this issue: `v8.0.0` Please let me know if it works as expected.

[2017-05-07 17:44] wenjunxiao commented on #56
I solve this by extending jsx plugin https://github.com/wenjunxiao/esformatter-jsx-indent

[2017-05-15 22:44] AdamSalma commented on #69
@pbojinov @furydam @royriojas

Try this:

[code]

Specifically look at the ```ObjectPattern``` rules as they define linebreaks before/after a comma inside an object literal.

[2017-07-20 20:00] michaellee8 opened #107 "Option to add a new line for the parentheses wrapping jsx"
This gives more clear separation between javascript and JSX components, like [React Website](https://facebook.github.io/react/) does.
For example,
Before:
[code]

After:
[code]
Instead of:
[code]

[2017-07-21 09:39] Kenshin-liu opened #108 "SyntaxError: Unexpected token, expected ;"
SyntaxError: Unexpected token, expected ; (1:8)
    at Parser.pp$5.raise (/Users/zrone/Library/Application Support/Sublime Text 3/Packages/jsfmt/node_modules/esformatter-jsx/node_modules/babylon/lib/index.js:4246:13)
    at Parser.pp.unexpected (/Users/zrone/Library/Application Support/Sublime Text 3/Packages/jsfmt/node_modules/esformatter-jsx/node_modules/babylon/lib/index.js:1627:8)
    at Parse

[2017-10-16 02:04] lixingdecai opened #109 "Missing trailing comma"
when i use the the beutify, the last comma is disappear , like this
![image](https://user-images.githubusercontent.com/19658346/31592174-f5102468-b1eb-11e7-887f-f1cf7975bb18.png)

and i cant find where and how to set. i use the "comma_first" and "end_with_comma" ,but it didnt work
![image](https://user-images.githubusercontent.com/19658346/31592201-2a64f31e-b1ec-11e7-8d6e-b83d05f0e76a.png)

i thin

[2017-10-16 19:08] royriojas commented on #109
hi @lixingdecai, It seems there is a misunderstanding, the configuration for esformatter settings should be set in the `.esformatter.json` file not `.jsbeautifyrc`

[2017-10-18 09:10] #109 closed, assigned to nobody

[2017-12-08 07:08] jeffwx opened #110 "npm ERR! extraneous after installed esformatter-jsx"
Hi
I tried to use esformatter-jsx in sublime and followed the instruction,
after installed by "npm i esformatter@latest esformatter-jsx@latest"
when run "npm ls esformatter-jsx" I got the error below
sublime-jsfmt@ D:\userdata\jj\Application Data\Sublime Text 3\Packages\jsfmt
`-- esformatter-jsx@8.0.1  extraneous

would you please let me know if i missed some steps? Thanks!

[2017-12-08 20:52] royriojas commented on #110
Hi @jeffwx,

I currently don't actively use the package in sublime. It might be that jsfmt had changed some dependencies since the time the instructions were written.

Might I suggest you to check prettier? it seems the package is easier to use in sublime.https://packagecontrol.io/packages/JsPrettier

[2017-12-29 11:22] derakhshanfar opened #111 ".jsbeautifyrc can't parse correctly"
hi guys.
my _.jsbeautifyrc_ is like this but when i want to beautify my file, i get this error:
 _.jsbeautifyrc can't parse_ correctly
[code]
in developer tools i see that error:
`r.charCodeAt is not a function`

[2017-12-30 07:08] #75 closed

[2017-12-30 07:49] royriojas commented on #111
hi @derakhshanfar,

I'm a bit confused, this is supposed to work with `esformatter` not `jsbeautify` the config file for esformatter is usually called `esformatter.json`.

Any info that you could have about how are u trying to use this plugin will be useful.

[2017-12-30 07:55] derakhshanfar commented on #111
hi @royriojas, this is esformatter config, jsbeautifyrc is just the name of file. i use vs code as editor with react-beautify extension and this extention use jsbeautifyrc  as config, but it is just a name. the problem is related to react-beautify package after upgrade my vs code to 1.19.1.

[2017-12-30 07:55] #111 closed, assigned to nobody

[2018-04-14 04:25] Orpheusown opened #112 ""error: The formatting failed please check the console for more details.""
I have install the plugin with the guide of wiki, but after all I meet the problem, here is the output:
[code]
I was thought it was occur by the wrong node path, I have try to reset the path with some different expression, like `/c/Program Files/nodejs/node.exe`, `C:/Program Files/nodejs/node.exe` or ` \"C:/Program Files/nodejs/node.exe\"` but all of it doesn't work
I'm not sure, there may be the

[2018-04-14 06:13] royriojas commented on #112
hi @Orpheusown

are you following this guide? https://github.com/royriojas/esformatter-jsx/wiki/Usage-with-jsfmt

To be honest lately I haven't been using much esformatter-jsx, the project I'm currently working is using prettier and hence I haven't touch this project for a while.

I can still try to dig into why this is not working for you, but maybe using prettier will be easier for you https://p

[2018-04-14 06:46] #112 closed, assigned to nobody

[2018-05-20 14:48] Soyrros0x0 opened #113 "Error: Cannot find module 'extend'"
JSFMT ==>
Error: internal/modules/cjs/loader.js:573
    throw err;
    ^

Error: Cannot find module 'extend'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:15)
    at Function.Module._load (internal/modules/cjs/loader.js:497:25)
    at Module.require (internal/modules/cjs/loader.js:626:17)
    at require (internal/modules/cjs/helpers.js:20:18)
    at Object.<anonymous>

[2018-05-30 04:03] theSouthSea opened #114 "Formatting error"
**Before formatting**:
[code]
**After formatting**:
[code]

[2019-06-05 15:40] lopezdp commented on #108
any luck or what?

[2019-06-05 17:58] royriojas commented on #108
I'm sorry can you provide a bit more of details for this one?

In any case you might want to try `prettier` https://prettier.io/ as an option

[2019-06-05 22:22] lopezdp commented on #108
Don't worry I solved it already thanks!

[2019-07-21 17:25] lopezdp commented on #108
I solved this in my `jsfmt.sublime-settings` file by adding the semicolon plugin to the array below:

[code]

[2022-05-12 22:34] #85 closed